In [1]:
#Program to predict bitcoin price for the next 30 days(the first project)
#importing libraries
import numpy as np 
import pandas as pd

In [2]:
#loading the dataset
df = pd.read_csv('market-price')

In [4]:
#exploring first 7 days n last 7 days of market price
print(df.head(7))
print(df.tail(7))

             Timestamp  market-price
0  2019-11-11 00:00:00       9037.12
1  2019-11-12 00:00:00       8717.81
2  2019-11-13 00:00:00       8801.52
3  2019-11-14 00:00:00       8762.42
4  2019-11-15 00:00:00       8632.32
5  2019-11-16 00:00:00       8457.69
6  2019-11-17 00:00:00       8482.70
               Timestamp  market-price
359  2020-11-04 00:00:00      14023.31
360  2020-11-05 00:00:00      14155.59
361  2020-11-06 00:00:00      15591.39
362  2020-11-07 00:00:00      15595.77
363  2020-11-08 00:00:00      14839.84
364  2020-11-09 00:00:00      15490.60
365  2020-11-10 00:00:00      15328.53

In [6]:
df.drop(['Timestamp'],1,inplace=True)

In [7]:
df

     market-price
0         9037.12
1         8717.81
2         8801.52
3         8762.42
4         8632.32
..            ...
361      15591.39
362      15595.77
363      14839.84
364      15490.60
365      15328.53

[366 rows x 1 columns]

In [10]:
# A Variable for predicting 'n' days out into the future
prediction_days = 30

# Create another column shifted 'n' units up
df['prediction']=df[['market-price']].shift(-prediction_days) #we created new column by minusing first 30 days

In [11]:
df.head()

   market-price  prediction
0       9037.12     7220.76
1       8717.81     7202.31
2       8801.52     7189.16
3       8762.42     7251.87
4       8632.32     7067.74

In [13]:
#to view last seven days of new dataset
df.tail(7)      #so,that last 30 days price will be removed

     market-price  prediction
359      14023.31         NaN
360      14155.59         NaN
361      15591.39         NaN
362      15595.77         NaN
363      14839.84         NaN
364      15490.60         NaN
365      15328.53         NaN

In [15]:
# Creating the independent data-set

# converting the dataframe into numpy array & removing prediction column

X=np.array(df.drop(['prediction'],axis=1))

In [18]:
X=X[:len(df)-prediction_days]

In [21]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's)
y = np.array(df['prediction'])  
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[ 7220.76  7202.31  7189.16  7251.87  7067.74  7111.14  6879.54  6612.12
  7284.29  7150.86  7190.17  7143.2   7514.41  7322.08  7250.69  7192.72
  7194.4   7243.93  7301.07  7385.36  7219.6   7168.31  7175.68  6944.33
  7326.35  7347.89  7351.57  7759.24  8165.47  8042.65  7817.92  8184.66
  8021.49  8173.97  8105.24  8842.42  8813.89  8722.03  8900.34  8910.85
  8703.36  8626.47  8722.26  8658.94  8388.11  8428.17  8327.36  8588.42
  8895.78  9385.69  9279.81  9502.37  9333.77  9378.09  9314.56  9284.51
  9162.14  9614.9   9755.66  9807.54  9907.12 10162.41  9854.79 10275.38
 10354.3  10242.43 10368.53  9904.17  9937.67  9703.93 10180.65  9604.72
  9606.86  9696.58  9669.63  9989.39  9663.75  9309.15  8785.52  8804.72
  8712.35  8531.42  8534.17  8912.82  8754.34  8758.9   9067.39  9155.89
  8898.63  8039.38  7931.94  7885.46  7936.65  4830.21  5609.03  5166.26
  5348.44  5026.35  5357.61  5410.23  6195.2   6226.44  6189.85  5822.62
  6502.16  6768.49  6698.46  6763.75  6369.09  6260.95  5885.41  6405.29
  6428.28  6652.87  6809.11  6741.67  6871.69  6777.44  7343.2   7205.55
  7365.03  7293.69  6873.24  6891.6   6915.37  6857.66  6871.95  6623.8
  7112.27  7034.89  7259.36  7130.04  6840.24  6852.52  7130.99  7477.6
  7507.08  7549.52  7699.27  7790.66  7765.33  8777.63  8628.77  8824.66
  8973.82  8903.95  8885.93  9030.96  9170.79 10002.48  9821.8   9527.39
  8754.46  8617.25  8814.53  9305.93  9790.31  9303.59  9385.7   9669.4
  9719.37  9785.74  9510.67  9057.57  9167.26  9178.32  8730.73  8899.66
  8842.85  9197.54  9569.21  9425.98  9698.1   9450.84 10204.23  9525.57
  9658.04  9794.56  9623.75  9670.43  9753.85  9782.59  9775.15  9892.13
  9286.42  9459.97  9473.5   9330.07  9426.7   9526.    9454.81  9380.03
  9300.15  9357.43  9284.78  9691.9   9621.49  9276.58  9240.85  9154.45
  9004.23  9127.47  9185.35  9133.97  9236.38  9087.98  9072.42  9131.31
  9089.09  9348.91  9256.23  9440.07  9238.04  9287.4   9235.96  9295.9
  9238.13  9254.52  9193.51  9131.    9154.19  9174.71  9214.66  9163.87
  9392.66  9537.4   9613.11  9551.28  9707.5   9938.83 11042.4  10934.94
 11102.67 11114.93 11343.88 11823.69 11077.77 11242.57 11194.25 11750.28
 11772.94 11605.6  11767.6  11684.06 11893.03 11392.43 11573.11 11777.43
 11774.38 11873.98 11914.01 12293.72 11969.53 11734.   11865.82 11522.8
 11683.44 11653.02 11763.93 11337.4  11467.37 11302.01 11534.75 11481.64
 11707.78 11659.57 11923.25 11397.44 10187.51 10467.89 10159.62 10254.93
 10367.74 10121.52 10227.83 10352.66 10395.44 10446.44 10330.77 10674.64
 10785.62 10948.43 10943.89 10931.79 11081.43 10919.65 10430.46 10532.22
 10234.48 10732.43 10692.84 10732.4  10774.24 10692.33 10840.8  10777.92
 10619.24 10575.06 10551.77 10673.46 10788.56 10603.74 10670.8  10923.3
 11063.19 11302.67 11376.61 11540.04 11428.24 11431.32 11503.73 11327.57
 11366.51 11508.2  11758.16 11925.46 12831.56 12990.25 12944.52 13128.46
 13036.77 13076.37 13651.47 13289.   13458.66 13564.72 13810.32 13758.88
 13575.17 14023.31 14155.59 15591.39 15595.77 14839.84 15490.6  15328.53]

In [22]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [33]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['prediction'],1))[-prediction_days:] #is ignoring last 30 values 4 drop
print(prediction_days_array)

[[11376.61]
 [11540.04]
 [11428.24]
 [11431.32]
 [11503.73]
 [11327.57]
 [11366.51]
 [11508.2 ]
 [11758.16]
 [11925.46]
 [12831.56]
 [12990.25]
 [12944.52]
 [13128.46]
 [13036.77]
 [13076.37]
 [13651.47]
 [13289.  ]
 [13458.66]
 [13564.72]
 [13810.32]
 [13758.88]
 [13575.17]
 [14023.31]
 [14155.59]
 [15591.39]
 [15595.77]
 [14839.84]
 [15490.6 ]
 [15328.53]]

In [24]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#here using c to control error & gamma-how far influence of a single training example reaches.
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, gamma=1e-05)

In [25]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.3818158641264131

In [26]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 9181.66322256  8838.60055957 10690.60773718 11577.45571907
  9184.4805975   9505.60380641  8213.02539629  9365.37469444
  9187.41818341 10198.95146478  9320.22140351 11911.40524587
  9182.30924641  9180.48759176  9320.18895548  8571.32644063
 10435.94261648  8847.93671654  9748.56746018 10481.98357035
  9437.91838606 11316.69404667  9812.99160635  9312.29609935
  9975.19878775  8664.07257596 11192.95494579  8466.4143973
  8299.98309838  9571.31057933  9541.7560837   8207.98194326
  9738.74129794  9328.91479672  8843.78007901  8806.14470515
  9178.53480115 10225.30306434  8840.17217445  8340.4889776
  8838.56113788  9974.35841143  9330.24295844 12736.35762954
 12806.70284457  9141.31289264  9229.09916192  9318.98388955
 11329.98907303  9321.23027111  9935.32613059  9742.05944712
  8448.86992447 10945.13867712  9653.09615501 13289.91721002
  9188.90574553  8222.10924057 10440.67769101  8405.98213946
  9649.66809295  9154.14618982  9374.7065531   9127.61698897
 11893.2417753  11837.67803246 10721.47181306  9723.72723476]

[ 9089.09  9669.4  10943.89 11376.61  5410.23  8785.52  8899.66 10368.53
  9348.91  6195.2   9606.86 11925.46  9473.5   9440.07  9904.17  8173.97
 10931.79  9057.57  6873.24 11659.57  9669.63 11534.75 11042.4   9698.1
 11194.25 10002.48 11302.67  6944.33  9821.8   9551.28  6768.49  7351.57
 10162.41  6741.67  8973.82  8722.03  9256.23 10551.77  7549.52  9284.51
  8903.95 11823.69  7251.87 14155.59 13564.72 11605.6   7936.65  5885.41
  5348.44  6612.12  9067.39  7365.03  8628.77 11397.44  7293.69 13810.32
  8039.38  7699.27 10234.48  6891.6  11772.94  9193.51  9254.52  8531.42
 14839.84 11302.01 11707.78 11343.88]

In [27]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[10674.52063863 10553.01298738 10623.63260051 10621.28326613
 10575.73755395 10749.8060597  10687.63768435 10573.07184904
 10438.93242084 10622.80733037  9503.5309448   9455.69876661
  9462.37207043  9448.81489666  9451.87719982  9450.06084468
  9447.8728945   9447.92277396  9447.87416187  9447.87298108
  9447.87288475  9447.87288512  9447.8729585   9447.87288464
  9447.87288464  9447.87288464  9447.87288464  9447.87288464
  9447.87288464  9447.87288464]

In [28]:
#Print the actual price for the next 'n' days, n=prediction_days=30 
df.tail(prediction_days)

     market-price  prediction
336      11376.61         NaN
337      11540.04         NaN
338      11428.24         NaN
339      11431.32         NaN
340      11503.73         NaN
341      11327.57         NaN
342      11366.51         NaN
343      11508.20         NaN
344      11758.16         NaN
345      11925.46         NaN
346      12831.56         NaN
347      12990.25         NaN
348      12944.52         NaN
349      13128.46         NaN
350      13036.77         NaN
351      13076.37         NaN
352      13651.47         NaN
353      13289.00         NaN
354      13458.66         NaN
355      13564.72         NaN
356      13810.32         NaN
357      13758.88         NaN
358      13575.17         NaN
359      14023.31         NaN
360      14155.59         NaN
361      15591.39         NaN
362      15595.77         NaN
363      14839.84         NaN
364      15490.60         NaN
365      15328.53         NaN